@charset "utf-8";

.title{
	width: 600px;
	color: #173200;
	font-size: 60px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 30%;
	top: 25%;
}

.content{
	width: 600px;
	color: #173200;
	font-size: 40px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 30%;
	top: 40%;
}