<!DOCTYPE html>
<html>
<!--
<body>

<h1>Upload Ingredients</h1>

<form action="/uploadImage" method="POST" enctype="multipart/form-data">
  <label for="img">Select image:</label>
  <input type="file" id="image" name="image" accept="image/*">
  <input type="submit">
</form>

</body>
</html>

-->

<!doctype html>
<head>
	<title>Upload Ingredients</title>
    <link href="css/upload.css" rel="stylesheet" type="text/css">
<style>
html {
    height: 80%;
}
body {
	background-image: url("images/bgpic_1.jpg");
	background-position: center center;
    background-size: cover;
	background-color: #AEAEAE;
	}
</style>
</head>
	
<body>	
<h1>
	<div class="title">Upload Ingredients</div>
</h1>
	<div class="content">
    <form method=post enctype=multipart/form-data>
      <input type=file name=image[] multiple>
      <input type=submit value=Upload>
    </form>
	</div>
</body>